{% extends 'layouts/main.html' %}
{% block title %}New Venue{% endblock %}
{% block content %}
  
  <div class="form-wrapper">
    <form id="form" class="form">
      <h3 class="form-heading">List a new venue <a href="{{ url_for('index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name" id="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label>City & State</label>
          <div class="form-inline">
            <div class="form-group">
              {{ form.city(class_ = 'form-control', id='city', placeholder='City', autofocus = true) }}
            </div>
            <div class="form-group">
              {{ form.state(class_ = 'form-control', id='state', placeholder='State', autofocus = true) }}
            </div>
          </div>
      </div>
      <div class="form-group">
        <label for="address" id="address">Address</label>
        {{ form.address(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="phone" id="phone">Phone</label>
          {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx', autofocus = true) }}
        </div>
      <div class="form-group">
        <label for="genres" id="genres">Genres</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control', placeholder='Genres, separated by commas', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="facebook" id="facebook">Facebook Link</label>
          {{ form.facebook_link(class_ = 'form-control', placeholder='http://', autofocus = true) }}
        </div>
      <input type="submit" value="Create Venue" class="btn btn-primary btn-lg btn-block">
     
    </form>
    

  </div>
  
  <script>
    document.getElementById('form').onsubmit = function(e) {
     e.preventDefault();
     const name = document.getElementById('name').value;
     const address = document.getElementById('address').value;
     const phone = document.getElementById('phone').value;
     const genres = document.getElementById('genres').value;
     const facebook = document.getElementById('facebook').value;

     if(name == "" || address=="" || phone=="" || genres == "" || facebook == ""){
       print("please fill in empty fields")
     }
     else if (!name.match("^[A-Za-z]{1,20}, [A-Za-z]{1,20}, [A-Za-z]{1,20}")){
      print("invalid name")
     }

     else if (!address.match("^[A-Za-z]{1,20}, [A-Za-z]{1,20}, [A-Za-z]{1,20}")){
      print("invalid address")
     }
     
     else if (!genres.match("^[A-Za-z]{1,20}, [A-Za-z]{1,20}, [A-Za-z]{1,20}")){
      print("invalid genres")
     }
    else if (phone.length() > 11){
      print("invalid phone")
    }
     else{
   
    fetch('/venues/create',{
     method: 'POST',
     body: JSON.stringify({
       'name':  document.getElementById('name').value,
       'address': document.getElementById('address').value,
       'phone': document.getElementById('phone').value,
       'genres':  document.getElementById('genres').value,
       'facebook': document.getElementById('facebook').value,
     }),
     headers: {
      'Content-Type': 'application/json',
     }

  })
     }
    }
</script>
{% endblock %}